<div ng-class="{ online: user.online, private: user.private }" class="user-infocard"><a
        ui-sref=".profile({ userId: user.userId })" href="/browse/6028001239?page=3">
    <div class="avatar"><img ng-src="http://i2.tagstat.com/p1/m1/kBikudMjv3mM9ua_JNWUFGISuDzeP5YhsMlnCroohEQ=.jpg"
                             tagged-src-fallback="http://i2.tagstat.com/p1/l/kBikudMjv3mM9ua_JNWUFGISuDzeP5YhsMlnCroohEQ=.jpg http://x.tagstat.com/im/people/silhouette_f_300.png?temp-1fccbb48a"
                             src="http://i2.tagstat.com/p1/m1/kBikudMjv3mM9ua_JNWUFGISuDzeP5YhsMlnCroohEQ=.jpg"></div>
    <div rel="online" title="Online Now" class="status">Online</div>
    <div class="name">Shaqwayla M</div>
    <div class="details">21, Laguna Beach, CA</div>
</a>

    <div ng-switch="friendRequestState" ng-click="friendRequest()"
         ng-class="{ 'processing': isFriendRequestPending, 'requested': friendRequestState == 'requested', 'accepted': friendRequestState == 'accepted', 'disabled': !mayFriendRequest }"
         title="Add Friend" class="friend-request"><!-- ngSwitchWhen: not requested -->
        <div ng-switch-when="not requested" tagged-icon="add-friend" class=""><span class="icon-off icon-add-friend-off"
                                                                                    ng-class="iconOff"></span><span
                class="icon-on icon-add-friend-on" ng-class="iconOn"></span></div>
        <!-- end ngSwitchWhen: --><!-- ngSwitchWhen: requested --><!-- ngSwitchWhen: accepted --></div>
    <div tagged-message-user="user" title="Send Message" ng-class="{ 'disabled': !mayMessage }" ng-click="messageUser()"
         class="message">
        <div tagged-icon="message"><span class="icon-off icon-message-off" ng-class="iconOff"></span><span
                class="icon-on icon-message-on" ng-class="iconOn"></span></div>
    </div>
</div>
