<div class="photo" >

    <div class="photo-wrapper">

        <img src="" data-ng-src="{{card.src}}" class="animation-fade image" data-imageloaded data-loadedclass="animation-faded" style="width:280px;padding-right:8px;padding-bottom:8px;">
        <div tagged-squarify="{{ card.src }}" size="280">

        </div>
    </div>

    <div class="photo-description">
        <div style="font-size:12px;"><a target="_blank" href="http://www.tagged.com/profile.html?uid={{card.title }}">{{card.title }}</a></div>

    </div>

</div>